@charset "utf-8";
/* CSS Document */

a{
color: #282425!important;	
}
ul.nav.nav-tabs > li{
	display: inline-block;
	line-height: 50px;
	height: 100%;
	text-transform:uppercase;
}
ul.nav.nav-tabs > li a{
	display:block;
	padding:15px;
	color: #FF0000!important;
	
}
ul.nav.nav-tabs > li a:hover, ul.nav.nav-tabs > li:hover{
	background:	#FB282F;
	color:#fff!important;
	text-decoration: none!important;
}
ul.nav.nav-tabs > li a.active{
	background:	###FFFF00;
	color:#fff!important;
	text-decoration: none!important;
}
.card-header {
    background-color: rgba(99, 101, 116, 1)!important;
	border-radius:0!important;
}
.card{
border-radius:0!important;
}

.card > .card-header a::before {
    font-family: fontawesome;
    content: "\f067 ";
    color: #282425;
    float: right;
    margin-right: 15px;
    font-weight: 400;
    position: absolute;
    right: 0;
}
.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  position: centre;
  
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #282425}

.button:active {
  background-color: #282425;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

}